@import 'base/module';


html, body {
  color: $black;
}

a {
  text-decoration: none;
  color: $purple-4;
  &:visited, &:hover, &:focus {
    color: $purple-4;
  }
  &:hover {
    text-decoration: underline;
  }
}
